@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
header {
  background: url(../../media/1.png) center no-repeat;
  max-width: 100%;
  background-size: cover;
  display: block;
  margin: auto;
}
header nav {
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
  align-content: center;
  justify-content: center;
}
header nav ul.menu {
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 2.2rem;
  margin: 80px;
  position: relative;
  flex-direction: row;
}
header nav ul.menu li {
  margin: 0 50px;
}
header nav ul.menu li a {
  font-family: "Roboto";
  text-decoration: none;
  color: rgb(243, 240, 240);
  position: relative;
  font-weight: bold;
}
header nav ul.menu li a::before {
  content: "";
  background: #C2C2C2;
  position: absolute;
  top: -10px;
  width: 0%;
  height: 6px;
  left: 0;
  transition: all 0.5s;
}
header nav ul.menu li a:hover::before {
  /* ancho final */
  width: 100%;
}
header div.titulo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0 300px 0;
}
header div.titulo #apache {
  width: 40rem;
  height: 20rem;
}
header div.titulo .social {
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  font-size: 32px;
}
header div.titulo .social .social-BTN {
  text-decoration: none;
  color: rgb(243, 240, 240);
  padding: 0px 16px;
}
header div.titulo .social .social-BTN:hover {
  cursor: pointer;
}

header {
  background: url(../../media/1.png) center no-repeat;
  max-width: 100%;
  background-size: cover;
  display: block;
  margin: auto;
}
header nav {
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
  align-content: center;
  justify-content: center;
}
header nav ul.menu {
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 2.2rem;
  margin: 80px;
  position: relative;
  flex-direction: row;
}
header nav ul.menu li {
  margin: 0 50px;
}
header nav ul.menu li a {
  font-family: "Roboto";
  text-decoration: none;
  color: rgb(243, 240, 240);
  position: relative;
  font-weight: bold;
}
header nav ul.menu li a::before {
  content: "";
  background: #C2C2C2;
  position: absolute;
  top: -10px;
  width: 0%;
  height: 6px;
  left: 0;
  transition: all 0.5s;
}
header nav ul.menu li a:hover::before {
  /* ancho final */
  width: 100%;
}
header div.titulo {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0 300px 0;
}
header div.titulo #apache {
  width: 40rem;
  height: 20rem;
}
header div.titulo .social {
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  font-size: 32px;
}
header div.titulo .social .social-BTN {
  text-decoration: none;
  color: rgb(243, 240, 240);
  padding: 0px 16px;
}
header div.titulo .social .social-BTN:hover {
  cursor: pointer;
}

main #About {
  max-width: 100%;
  position: relative;
  padding: 200px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
main #About .be-most {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
main #About .be-most div:first-child {
  padding: 0 0 0 80px;
}
main #About .be-most div:first-child p {
  margin: 5px;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: italic;
  line-height: 120%;
  color: #0B478A;
}
main #About .be-most div:first-child button {
  margin: 16px 0 0 5px;
  width: 90%;
  height: 50px;
  background: rgb(243, 240, 240);
  border-radius: 10px;
  border-color: #FF6700;
  border-width: 3.5px;
  box-shadow: 0px 10px 40px -7px #7090B0;
}
main #About .be-most div:first-child button:hover {
  cursor: pointer;
  background-color: #0B478A;
}
main #About .be-most div:first-child button a {
  text-decoration: none;
  color: #000F1F;
  font-size: 25px;
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 700;
}
main #About .be-most div:first-child button a:hover {
  color: whitesmoke;
}
main #About .be-most div:last-child {
  width: 50%;
  padding: 0 0 0 80px;
}
main #About .be-most div:last-child h2 {
  margin: 0 0 10px 0;
  font-family: "Oswald", "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 100;
}
main #About .be-most div:last-child p {
  margin: 0 auto;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #434343;
}
main #About .frase {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
main #About .frase p {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  line-height: 140%;
  font-style: italic;
  font-weight: 300;
  color: #000F1F;
  padding: 150px 50px 50px 50px;
}
main #Services .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: url(../../media/2.png);
  background-position: center;
  padding: 80px 0px;
}
main #Services .cards article {
  margin: 0 100px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 50px;
}
main #Services .cards article i {
  color: #FF6700;
  opacity: 55%;
}
main #Services .cards article h3 {
  margin: 16px;
  font-size: 40px;
  font-family: "Oswald", "Roboto", sans-serif;
  color: rgb(243, 240, 240);
}
main #Services .cards article ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", "Roboto", sans-serif;
  color: lightgray;
  padding: 20px 0 0 0;
}
main #Services .cards article ul hr {
  color: lightgray;
  margin: 15px 0;
}
main #Services .cards article ul li {
  font-family: "Roboto";
}
main #Services .metodo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 5rem;
  gap: 4rem;
}
main #Services .metodo .img-method {
  width: 100%;
  text-align: center;
  border-radius: 20px;
}
main #Services .metodo .mtd {
  width: 100%;
}
main #Services .metodo .mtd h3 {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-size: 50px;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: 500;
  color: #0B478A;
}
main #Services .metodo .mtd p:first-of-type {
  margin: 0 auto;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #434343;
  padding: 10px 0px;
}
main #Services .metodo .mtd p:last-of-type {
  margin: 0 auto;
  padding: 16px 0;
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 140%;
  color: #000F1F;
}
main #Services .metodo .mtd ul {
  list-style: square;
  margin: 0 auto;
  padding: 20px 0 0 30px;
  font-size: 35px;
  line-height: 120%;
  color: #0B478A;
}
main #Portfolio {
  padding-bottom: 150px;
}
main #Portfolio h2 {
  font-family: "Oswald", "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #0B478A;
  margin: 20px 0;
}
main #Portfolio .galeria {
  width: 85%;
  margin: auto;
  padding: 40px 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
  grid-gap: 15px;
}
main #Portfolio .galeria a {
  align-content: center;
  justify-content: center;
  display: flex;
  margin: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000F1F;
}
main #Portfolio .galeria a img {
  width: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: transform 0.8s;
}
main #Portfolio .galeria a:hover img {
  transform: rotate(3deg) scale(0.9);
}
main #Contact {
  display: flex;
  margin-bottom: 5rem;
}
main #Contact form {
  background-color: #bdb5b5;
  border-radius: 10%;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 45vw;
}
main #Contact form h2 {
  color: #0B478A;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}
main #Contact form p {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
main #Contact form .form-field {
  margin-bottom: 1rem;
}
main #Contact form .form-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1.1rem;
}
main #Contact form .form-field input[type=text],
main #Contact form .form-field input[type=email],
main #Contact form .form-field textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
main #Contact form .form-field textarea {
  height: 100px;
  resize: vertical;
}
main #Contact form button {
  margin: 0 auto;
  width: 30%;
  padding: 1rem;
  border: none;
  background-color: #0056b3;
  color: white;
  font-size: 1rem;
  border-radius: 5%;
  cursor: pointer;
  transition: background-color 0.3s;
}
main #Contact form button:hover {
  background-color: #003d82;
}

.footer {
  width: 100%;
  position: relative;
  margin: 0px;
  background-color: #212121;
  font-family: "Raleway", "Roboto", sans-serif;
  display: flex;
}
.footer .left-footer {
  position: relative;
  margin: 0px;
  width: 33%;
  padding: 120px 50px;
  font-family: "Raleway", "Roboto", sans-serif;
}
.footer .left-footer h3 {
  margin: 0px;
  padding: 16px;
  color: #88B2E1;
  font-size: 32px;
}
.footer .left-footer p {
  margin: 16px 0px;
  padding: 0px 16px;
  font-size: 20px;
  color: rgb(243, 240, 240);
}
.footer .center-footer {
  position: relative;
  margin: 0 auto;
  width: 33%;
  padding: 50px 50px;
  border-left: 2.5px solid rgb(243, 240, 240);
  border-right: 2.5px solid rgb(243, 240, 240);
}
.footer .center-footer .logo {
  text-align: center;
}
.footer .center-footer .logo h4 {
  margin: 16px 0;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 32px;
  color: #FF6700;
}
.footer .center-footer .logo p {
  margin: 16px 0;
  text-align: center;
  color: #88B2E1;
  font-size: 25px;
}
.footer .center-footer .social {
  display: flex;
  align-items: center;
  margin: 2.5rem;
  padding: 0 150px;
  font-size: 32px;
  justify-content: space-evenly;
}
.footer .center-footer .social a i {
  text-decoration: none;
  color: rgb(243, 240, 240);
  padding: 0 20px;
}
.footer .center-footer .social a i:hover {
  transform: rotate(15deg) scale(1.2);
}
.footer .right-footer {
  position: relative;
  margin: 0px;
  width: 33%;
  padding: 100px 50px;
}
.footer .right-footer div {
  display: flex;
  position: relative;
  width: 100%;
  margin: 20px 0;
}
.footer .right-footer div .icon {
  font-size: 40px;
  color: rgb(243, 240, 240);
  padding: 20px;
}
.footer .right-footer div article {
  display: flex;
  flex-direction: column;
}
.footer .right-footer div article h3 {
  font-size: 25px;
  font-weight: 100;
  margin: 0px;
  padding-top: 10px;
  color: #88B2E1;
}
.footer .right-footer div article p {
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(243, 240, 240);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */