@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$family-1: 'Raleway', 'Roboto', sans-serif;
$family-2: 'Oswald', 'Roboto', sans-serif;
$family-3: 'Montserrat', 'Roboto', sans-serif;

$font-Roboto: 'Roboto';
$text: #434343;
$text2: rgb(243, 240, 240);
$call: #FF6700;
$foot: #88B2E1;
$atention: #0B478A;
$quote: #000F1F;
$close: #851919;

$mobile: 375px;
$screen: 1024px;